@inherits BaseSidePane

<p>Select the platform you want to add.</p>

<p>&nbsp;</p>

<EditForm Model=WizardForm>
    <InputRadioGroup @bind-Value=WizardForm.Type>
        <div class="form-control form-control-select-list">
            <div class="form-check">
                <div class="row">
                    <div class="col">
                        <label class="form-check-label row">
                            <InputRadio class="form-check-input"
                                        Value="Web" />

                            Web
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-check">
                <div class="row">
                    <div class="col">
                        <label class="form-check-label row">
                            <InputRadio class="form-check-input"
                                        Value="Ios" />

                            iOS
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-check">
                <div class="row">
                    <div class="col">
                        <label class="form-check-label row">
                            <InputRadio class="form-check-input"
                                        Value="Android" />

                            Android
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </InputRadioGroup>
</EditForm>

<p>&nbsp;</p>

@if (WizardForm.Type != null)
{
    @if (WizardForm.Type == Web)
    {
        <p><strong>Web</strong></p>

        <p>
            Enter the URL to which the sign in page should redirect the user
            to process the authentication code and fetch the token. Usually
            it is <code>https://your-url/signin-oidc</code> or
            <code>https://your-url/authentication/login-callback</code>.
        </p>

        <input class="form-control" @bind=WebRedirectUrl @bind:event="oninput" placeholder="Redirect URL" />

        <p>&nbsp;</p>

        <p><strong>Redirect URI</strong></p>
        <pre>@WebRedirectUrl</pre>

        <p>&nbsp;</p>
    }
    else if (WizardForm.Type == Ios)
    {
        <p><strong>iOS</strong></p>

        <p>
            Enter the Bundle ID of your app, which can be found in XCode
            in the <code>Info.plist</code> or <code>Build Settings</code>.
        </p>

        <input class="form-control" @bind=IosBundleId @bind:event="oninput" placeholder="Bundle ID" />

        <p>&nbsp;</p>

        <p><strong>Redirect URI</strong></p>
        <pre>msauth.@IosBundleId://auth</pre>

        <p>&nbsp;</p>
    }
    else if (WizardForm.Type == Android)
    {
        <p><strong>Android</strong></p>

        <p>
            Enter the Package Name and Signature Hash of your app. The
            Package Name can be found in your Android Manifest and the
            Signature Hash can be generated via command line.
            <a href="https://developer.android.com/studio/publish/app-signing"
               target="_blank">More info about signing your Android app.</a>
        </p>


        <input class="form-control" @bind=AndroidPackageName @bind:event="oninput" placeholder="Package name" />
        <input class="form-control" @bind=AndroidSignatureHash @bind:event="oninput" placeholder="Signature hash" />

        <p>&nbsp;</p>

        <p><strong>Redirect URI</strong></p>
        <pre>msauth://@AndroidPackageName/@AndroidSignatureHash</pre>

        <p>&nbsp;</p>
    }

    <button class="btn btn-primary" @onclick=Add><i class="icon ion-md-add"></i> Add Redirect URI</button>
    <button class="btn btn-light" @onclick=Cancel><i class="icon ion-md-return-left"></i> Cancel</button>
}

@code {
    private class Form { public string? Type { get; set; } }

    private Form WizardForm { get; set; } = new Form();

    private string Web { get; } = "Web";
    private string Ios { get; } = "iOS";
    private string Android { get; } = "Android";

    private string? WebRedirectUrl { get; set; }
    private string? IosBundleId { get; set; }
    private string? AndroidPackageName { get; set; }
    private string? AndroidSignatureHash { get; set; }

    private void Add(MouseEventArgs args)
    {
        if (EditContext.Entity is ClientCmsModel client)
        {
            if (WizardForm.Type == Web)
            {
                client.RedirectUris.Add(WebRedirectUrl ?? "");
            }
            else if (WizardForm.Type == Ios)
            {
                client.RedirectUris.Add($"msauth.{IosBundleId}://auth");
            }
            else if (WizardForm.Type == Android)
            {
                client.RedirectUris.Add($"msauth://{AndroidPackageName}/{AndroidSignatureHash}");
            }
        }

        ButtonClicked(RapidCMS.Core.Enums.CrudType.None);
    }

    private void Cancel(MouseEventArgs args)
    {
        ButtonClicked(RapidCMS.Core.Enums.CrudType.None);
    }
}
